$theme-color:#FFB6C1;
$background-color:rgb(255,240,245);
$plachold-color:#FFF5EE;
$light-color:#0550f1;
$opcity-color:#eee;
$light-background:rgba(255,240,245,0.6);
$font-color:rgba(255,255,255,0.54);
$light-font-color:#FF8247;